<main class="main">
  <div class="main__content">
    <app-logo></app-logo>
    @if (!formValue()) {
    <app-header></app-header>
    <app-form (isFormSubmitted)="onFormSubmit($event)"></app-form>
    } @else {
    <app-congrats
      [name]="formValue()?.fullName"
      [email]="formValue()?.email"
    ></app-congrats>
    <app-ticket
      [avatar]="formValue()?.avatar"
      [name]="formValue()?.fullName"
      [github]="formValue()?.github"
    ></app-ticket>
    }
  </div>
  <img
    class="main__pattern main__pattern--top"
    src="../assets/images/pattern-squiggly-line-top.svg"
    alt="squiggly line"
  />
  <img
    class="main__pattern main__pattern--bottom"
    src="../assets/images/pattern-squiggly-line-bottom.svg"
    alt="squiggly line"
  />
</main>
