@import "../../../styles.scss";

.form {
  margin-top: 2.5rem;
  margin-inline: auto;
  display: grid;
  gap: 1.5rem;
  max-width: 32.625rem;

  @media (min-width: $tablet) {
    margin-top: 2.875rem;
  }

  @media (min-width: $desktop) {
    max-width: 28.75rem;
  }

  &__button {
    font-weight: $fw-extra-bold;
    color: $clr-neutral-900;
    background-color: $clr-orange-500;
    padding: 1rem;
    border-radius: 12px;
    cursor: pointer;

    transition: background-color 300ms, box-shadow 300ms;

    &:hover {
      background-color: $clr-orange-700;
      box-shadow: 0px 4px 0px 0px $clr-orange-500;
    }
  }
}
